In [1]:
import pandas as pd

In [3]:
df2009= pd.read_csv("data/2009.csv")
df2018= pd.read_csv("data/2018.csv")

In [4]:
df2009 = df2009.rename(columns = {"FL_DATE": "Date", "OP_CARRIER":"Airline","OP_CARRIER_FL_NUM":"Flight Number", 
                       "ORIGIN":"Origin","DEST":"Dest","DEP_DELAY":"Depart Delay","ARR_DELAY":"Arrival Delay","CANCELLED":"Cancelled"})
df2018 = df2018.rename(columns = {"FL_DATE": "Date", "OP_CARRIER":"Airline","OP_CARRIER_FL_NUM":"Flight Number", 
                       "ORIGIN":"Origin","DEST":"Dest","DEP_DELAY":"Depart Delay","ARR_DELAY":"Arrival Delay","CANCELLED":"Cancelled"})

In [5]:
delaydf = [] 

for i in range(len(df2009)): 
    
    if (df2009["Origin"][i]) == "LAX" or (df2009["Origin"][i]) == "IAH" or (df2009["Origin"][i]) == "JFK" or (df2009["Origin"][i]) == "ORD" or (df2009["Origin"][i]) == "ATL":

        delaydf.append([df2009['Date'][i],df2009['Airline'][i],df2009['Flight Number'][i], 
                    df2009['Origin'][i],df2009['Dest'][i],df2009['Depart Delay'][i], 
                    df2009['Arrival Delay'][i],df2009['Cancelled'][i]
                   
                   ]) 


Flight_df = pd.DataFrame(delaydf)

In [6]:
delaydf18 = [] 

for i in range(len(df2018)): 
    
    if (df2018["Origin"][i]) == "LAX" or (df2018["Origin"][i]) == "IAH" or (df2018["Origin"][i]) == "JFK" or (df2018["Origin"][i]) == "ORD" or (df2018["Origin"][i]) == "ATL":

        delaydf18.append([df2018['Date'][i],df2018['Airline'][i],df2018['Flight Number'][i], 
                    df2018['Origin'][i],df2018['Dest'][i],df2018['Depart Delay'][i], 
                    df2018['Arrival Delay'][i],df2018['Cancelled'][i]
                   
                   ]) 


Flight_df18 = pd.DataFrame(delaydf18)

In [10]:
delaydfline = [] 
Flight_df= Flight_df.rename(columns = {0: "Date", 1:"Airline",2:"Flight Number", 
                       3:"Origin",4:"Dest",5:"Depart Delay",6:"Arrival Delay",7:"Cancelled"})



for i in range(len(Flight_df)): 
    
    if (Flight_df['Airline'][i]) == "WN" or (Flight_df['Airline'][i]) == "DL":

        delaydfline.append([Flight_df['Date'][i],Flight_df['Airline'][i],Flight_df['Flight Number'][i], 
                    Flight_df['Origin'][i],Flight_df['Dest'][i],Flight_df['Depart Delay'][i], 
                   Flight_df['Arrival Delay'][i],Flight_df['Cancelled'][i]  
                   ]) 
        
flight_delay = pd.DataFrame(delaydfline)

In [11]:
delaydfline18 = [] 
Flight_df18= Flight_df18.rename(columns = {0: "Date", 1:"Airline",2:"Flight Number", 
                       3:"Origin",4:"Dest",5:"Depart Delay",6:"Arrival Delay",7:"Cancelled"})



for i in range(len(Flight_df18)): 
    
    if (Flight_df18['Airline'][i]) == "WN" or (Flight_df18['Airline'][i]) == "DL":

        delaydfline18.append([Flight_df18['Date'][i],Flight_df18['Airline'][i],Flight_df18['Flight Number'][i], 
                    Flight_df18['Origin'][i],Flight_df18['Dest'][i],Flight_df18['Depart Delay'][i], 
                   Flight_df18['Arrival Delay'][i],Flight_df18['Cancelled'][i]  
                   ]) 
        
flight_delay18 = pd.DataFrame(delaydfline18)

In [18]:
flight_delay = flight_delay.rename(columns = {0: "Date", 1:"Airline",2:"Flight Number", 
                       3:"Origin",4:"Dest",5:"Depart Delay",6:"Arrival Delay",7:"Cancelled"})
flight_delay18= flight_delay18.rename(columns = {0: "Date", 1:"Airline",2:"Flight Number", 
                       3:"Origin",4:"Dest",5:"Depart Delay",6:"Arrival Delay",7:"Cancelled"})

In [19]:
flight_delay.head()

,Date,Airline,Flight Number,Origin,Dest,Depart Delay,Arrival Delay,Cancelled
0,1/1/09,WN,102,LAX,ABQ,0.0,-5.0,0
1,1/1/09,WN,672,LAX,ABQ,-1.0,-9.0,0
2,1/1/09,WN,851,LAX,ABQ,3.0,8.0,0
3,1/1/09,WN,1264,LAX,AUS,2.0,-6.0,0
4,1/1/09,WN,476,LAX,BNA,2.0,7.0,0

In [20]:
flight_delay18.head()

,Date,Airline,Flight Number,Origin,Dest,Depart Delay,Arrival Delay,Cancelled
0,1/1/18,WN,408,ATL,AUS,7.0,-8.0,0
1,1/1/18,WN,572,ATL,AUS,16.0,9.0,0
2,1/1/18,WN,1887,ATL,AUS,0.0,-4.0,0
3,1/1/18,WN,170,ATL,BOS,14.0,-7.0,0
4,1/1/18,WN,1633,ATL,BOS,198.0,208.0,0