In [10]:
import pandas as pd

In [17]:
df2009= pd.read_csv("./data/2009.csv")
df2018= pd.read_csv("./data/2018.csv")

In [18]:
df2009 = df2009.rename(columns = {"FL_DATE": "Date", "OP_CARRIER":"Airline","OP_CARRIER_FL_NUM":"Flight Number", 
                       "ORIGIN":"Origin","DEST":"Dest","DEP_DELAY":"Depart Delay","ARR_DELAY":"Arrival Delay","CANCELLED":"Cancelled"})
df2018 = df2018.rename(columns = {"FL_DATE": "Date", "OP_CARRIER":"Airline","OP_CARRIER_FL_NUM":"Flight Number", 
                       "ORIGIN":"Origin","DEST":"Dest","DEP_DELAY":"Depart Delay","ARR_DELAY":"Arrival Delay","CANCELLED":"Cancelled"})

In [13]:
delaydf = [] 

for i in range(len(df2009)): 
    
    if (df2009["Origin"][i]) == "LAX" or (df2009["Origin"][i]) == "IAH" or (df2009["Origin"][i]) == "JFK" or (df2009["Origin"][i]) == "ORD" or (df2009["Origin"][i]) == "ATL":

        delaydf.append([df2009['Date'][i],df2009['Airline'][i],df2009['Flight Number'][i], 
                    df2009['Origin'][i],df2009['Dest'][i],df2009['Depart Delay'][i], 
                    df2009['Arrival Delay'][i],df2009['Cancelled'][i]
                   
                   ]) 


Flight_df = pd.DataFrame(delaydf) 
Flight_df.head()

        0   1     2    3    4     5     6  7
0  1/1/09  XE  1212  ATL  EWR  -2.0 -19.0  0
1  1/1/09  XE  1232  ORD  EWR  -5.0 -22.0  0
2  1/1/09  XE  1234  ORD  EWR   4.0 -34.0  0
3  1/1/09  XE  1236  ORD  EWR -11.0 -21.0  0
4  1/1/09  XE  2016  IAH  LCH  -6.0   6.0  0

In [7]:
delaydf18 = [] 

for i in range(len(df2018)): 
    
    if (df2018["Origin"][i]) == "LAX" or (df2018["Origin"][i]) == "IAH" or (df2018["Origin"][i]) == "JFK" or (df2018["Origin"][i]) == "ORD" or (df2018["Origin"][i]) == "ATL":

        delaydf18.append([df2018['Date'][i],df2018['Airline'][i],df2018['Flight Number'][i], 
                    df2018['Origin'][i],df2018['Dest'][i],df2018['Depart Delay'][i], 
                    df2018['Arrival Delay'][i],df2018['Cancelled'][i]
                   
                   ]) 


Flight_df18 = pd.DataFrame(delaydf18)
Flight_df18.head()

In [24]:
Flight_df.head()

        0   1     2    3    4     5     6  7
0  1/1/09  XE  1212  ATL  EWR  -2.0 -19.0  0
1  1/1/09  XE  1232  ORD  EWR  -5.0 -22.0  0
2  1/1/09  XE  1234  ORD  EWR   4.0 -34.0  0
3  1/1/09  XE  1236  ORD  EWR -11.0 -21.0  0
4  1/1/09  XE  2016  IAH  LCH  -6.0   6.0  0

In [25]:
Flight_df = Flight_df.rename(columns = {"0": "Date", "1":"Airline","2":"Flight Number", 
                       "4":"Origin","5":"Dest","6":"Depart Delay","7":"Arrival Delay"})
Flight_df18 = Flight_df18.rename(columns = {"0": "Date", "1":"Airline","2":"Flight Number", 
                       "4":"Origin","5":"Dest","6":"Depart Delay","7":"Arrival Delay"})