In [1]:
# dependancies
import pandas as pd
import numpy as np

In [2]:
# file to load
year_2009_file = "2009.csv"

# Read Purchasing File and store into Pandas data frame
year_2009_fileDF = pd.read_csv(year_2009_file)

year_2009_fileDF

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2009-01-01,XE,1204,DCA,EWR,1100,1058.0,-2.0,18.0,1116.0,...,62.0,68.0,42.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-01-01,XE,1206,EWR,IAD,1510,1509.0,-1.0,28.0,1537.0,...,82.0,75.0,43.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-01-01,XE,1207,EWR,DCA,1100,1059.0,-1.0,20.0,1119.0,...,70.0,62.0,36.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-01-01,XE,1208,DCA,EWR,1240,1249.0,9.0,10.0,1259.0,...,77.0,56.0,37.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-01-01,XE,1209,IAD,EWR,1715,1705.0,-10.0,24.0,1729.0,...,105.0,77.0,40.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6429333,2009-12-31,YV,2846,YUM,PHX,615,605.0,-10.0,19.0,624.0,...,67.0,71.0,39.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN
6429334,2009-12-31,YV,2850,YUM,PHX,1929,1919.0,-10.0,7.0,1926.0,...,70.0,61.0,48.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN
6429335,2009-12-31,YV,2866,YUM,PHX,1400,1400.0,0.0,29.0,1429.0,...,55.0,70.0,32.0,160.0,0.0,0.0,15.0,0.0,0.0,NaN
6429336,2009-12-31,YV,2868,YUM,PHX,1620,1615.0,-5.0,10.0,1625.0,...,67.0,61.0,45.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN
6429337,2009-12-31,YV,2871,YUM,PHX,1123,1113.0,-10.0,14.0,1127.0,...,67.0,64.0,35.0,160.0,NaN,NaN,NaN,NaN,NaN,NaN

DATA CLEANUP

In [3]:
# list the columns
year_2009_fileDF.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [4]:
# picking only the needed columns
year_2009_fileDF_clean = year_2009_fileDF[['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN','DEST',
      'DEP_DELAY','ARR_DELAY','CANCELLED']]


# Renaming the selected columns

year_2009_fileDF_clean.columns = ['Date of Flight', 'Airline Identifier', 'Flight No.','Origin',
                                  'Destination','DEP_DELAY','ARR_DELAY','CANCELLED'] 

year_2009_fileDF_clean.set_index("Date of Flight", inplace = False)
year_2009_fileDF_clean.tail()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
6429333,2009-12-31,YV,2846,YUM,PHX,-10.0,-6.0,0.0
6429334,2009-12-31,YV,2850,YUM,PHX,-10.0,-19.0,0.0
6429335,2009-12-31,YV,2866,YUM,PHX,0.0,15.0,0.0
6429336,2009-12-31,YV,2868,YUM,PHX,-5.0,-11.0,0.0
6429337,2009-12-31,YV,2871,YUM,PHX,-10.0,-13.0,0.0

In [5]:
# filtering through the rows to get SW airlines data
sw_airlines_selection = year_2009_fileDF_clean['Airline Identifier'] =='WN'
# print(sw_airlines.head)


sw_airlines_selection_new = year_2009_fileDF_clean[sw_airlines_selection]
print (sw_airlines_selection_new.shape)


# sw_airlines_selection_new.set_index("Date of Flight")

# dropping the null values if any
sw_airlines_selection_new.dropna()

(1128947, 8)

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
5281,2009-01-01,WN,669,ABQ,AMA,-5.0,-7.0,0.0
5282,2009-01-01,WN,3173,ABQ,BWI,0.0,-5.0,0.0
5283,2009-01-01,WN,45,ABQ,DAL,74.0,68.0,0.0
5284,2009-01-01,WN,102,ABQ,DAL,1.0,3.0,0.0
5286,2009-01-01,WN,324,ABQ,DAL,2.0,-3.0,0.0
...,...,...,...,...,...,...,...,...
6428009,2009-12-31,WN,5257,TUS,LAX,-2.0,2.0,0.0
6428010,2009-12-31,WN,3865,TUS,MDW,-2.0,-12.0,0.0
6428011,2009-12-31,WN,1858,TUS,SAN,5.0,-2.0,0.0
6428012,2009-12-31,WN,3295,TUS,SAN,-2.0,-12.0,0.0
6428013,2009-12-31,WN,5508,TUS,SAN,-1.0,-6.0,0.0

In [6]:
# filtering through the rows to get Delta airlines data only
Delta_airlines_selection = year_2009_fileDF_clean['Airline Identifier'] =='DL'
# print(Delta_airlines_selection.head)


Delta_airlines_selection_new = year_2009_fileDF_clean[Delta_airlines_selection]
print (Delta_airlines_selection_new.shape)

#dropping null values
# Delta_airlines_selection_new.dropna()
# Delta_airlines_selection_new.set_index('Date of Flight', inplace= False)
Delta_airlines_selection_new.dropna()

(426036, 8)

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
15209,2009-01-01,DL,1,MCO,JFK,77.0,58.0,0.0
15210,2009-01-01,DL,3,SLC,JFK,8.0,2.0,0.0
15211,2009-01-01,DL,4,JFK,MCO,93.0,92.0,0.0
15212,2009-01-01,DL,8,IAH,ATL,277.0,264.0,0.0
15213,2009-01-01,DL,9,ATL,JAX,0.0,-6.0,0.0
...,...,...,...,...,...,...,...,...
6415584,2009-12-31,DL,2095,ATL,TPA,-2.0,-16.0,0.0
6415585,2009-12-31,DL,2096,LAX,ATL,-4.0,-18.0,0.0
6415586,2009-12-31,DL,2097,CLT,ATL,0.0,4.0,0.0
6415587,2009-12-31,DL,2098,LAX,ATL,-5.0,7.0,0.0
6415588,2009-12-31,DL,2099,ATL,LAX,-3.0,-6.0,0.0

In [7]:
# concatinating the two DFs (SW and DL) 
# using append


joint_file = sw_airlines_selection_new.append(Delta_airlines_selection_new, 
                                              ignore_index=False,sort=False)
a = joint_file.dropna()
a[a['Airline Identifier']=='DL'].tail()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
6415584,2009-12-31,DL,2095,ATL,TPA,-2.0,-16.0,0.0
6415585,2009-12-31,DL,2096,LAX,ATL,-4.0,-18.0,0.0
6415586,2009-12-31,DL,2097,CLT,ATL,0.0,4.0,0.0
6415587,2009-12-31,DL,2098,LAX,ATL,-5.0,7.0,0.0
6415588,2009-12-31,DL,2099,ATL,LAX,-3.0,-6.0,0.0

In [8]:
# Filter out non-delayed flights < 0 DEP_DELAY
a = a[a['ARR_DELAY']>0]
a = a[a['DEP_DELAY']>0]

In [9]:
a.reset_index(drop=True, inplace=True)

# Change DEP_DELAY & ARR_DELAY from minutes to hours
a['DEP_DELAY'] = a['DEP_DELAY']/60
a['ARR_DELAY'] = a['ARR_DELAY']/60
a.tail()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
429290,2009-12-31,DL,2068,TPA,ATL,0.050000,0.016667,0.0
429291,2009-12-31,DL,2076,MSY,ATL,0.333333,0.150000,0.0
429292,2009-12-31,DL,2079,MDW,ATL,0.433333,0.350000,0.0
429293,2009-12-31,DL,2082,JFK,BOS,1.600000,1.083333,0.0
429294,2009-12-31,DL,2086,PBI,ATL,0.200000,0.266667,0.0

In [10]:
#Month variable
a['Date of Flight_month'] = pd.to_datetime(a['Date of Flight']).dt.month
# Weekday variable
a['Date of Flight_weekday'] = pd.to_datetime(a['Date of Flight']).dt.weekday_name

In [34]:
a['Date of Flight'] = pd.to_datetime(a['Date of Flight'])
a['Date of Flight'] = a['Date of Flight'].dt.strftime('%m/%d/%Y')
a.tail()
# a.info()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED,Date of Flight_month,Date of Flight_weekday
551675,12/31/2009,DL,2082,JFK,BOS,1.600000,1.083333,0.0,12,Thursday
551676,12/31/2009,DL,2085,JAX,ATL,-0.066667,0.216667,0.0,12,Thursday
551677,12/31/2009,DL,2086,PBI,ATL,0.200000,0.266667,0.0,12,Thursday
551678,12/31/2009,DL,2097,CLT,ATL,0.000000,0.066667,0.0,12,Thursday
551679,12/31/2009,DL,2098,LAX,ATL,-0.083333,0.116667,0.0,12,Thursday

In [11]:
a.reset_index(drop=True, inplace=True)

In [18]:
# dataframe to csv

a.to_csv("2009_airlines_file_new.csv", index =False)

In [17]:
a[a['ARR_DELAY']<0].head()

Empty DataFrame
Columns: [Date of Flight, Airline Identifier, Flight No., Origin, Destination, DEP_DELAY, ARR_DELAY, CANCELLED, Date of Flight_month, Date of Flight_weekday]
Index: []