In [5]:
# dependancies
import pandas as pd
import numpy as np

In [6]:
# file to load
year_2009_file = "../Data/2009.csv"

# Read Purchasing File and store into Pandas data frame
year_2009_fileDF = pd.read_csv(year_2009_file)

year_2009_fileDF

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED
0,1/1/09,XE,1204,DCA,EWR,-2.0,4.0,0
1,1/1/09,XE,1206,EWR,IAD,-1.0,-8.0,0
2,1/1/09,XE,1207,EWR,DCA,-1.0,-9.0,0
3,1/1/09,XE,1208,DCA,EWR,9.0,-12.0,0
4,1/1/09,XE,1209,IAD,EWR,-10.0,-38.0,0
...,...,...,...,...,...,...,...,...
1048570,3/2/09,WN,1628,DAL,HOU,-2.0,-8.0,0
1048571,3/2/09,WN,44,DAL,LBB,1.0,-9.0,0
1048572,3/2/09,WN,643,DAL,LBB,8.0,-7.0,0
1048573,3/2/09,WN,1217,DAL,LBB,-5.0,-14.0,0
1048574,3/2/09,WN,1608,DAL,LBB,1.0,-10.0,0

DATA CLEANUP

In [7]:
# list the columns
year_2009_fileDF.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'DEP_DELAY', 'ARR_DELAY', 'CANCELLED'],
      dtype='object')

In [8]:
# picking only the needed columns
year_2009_fileDF_clean = year_2009_fileDF[['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN','DEST',
      'DEP_DELAY','ARR_DELAY','CANCELLED']]


# Renaming the selected columns

year_2009_fileDF_clean.columns = ['Date of Flight', 'Airline Identifier', 'Flight No.','Origin',
                                  'Destination','DEP_DELAY','ARR_DELAY','CANCELLED'] 

year_2009_fileDF_clean.set_index("Date of Flight", inplace = False)
year_2009_fileDF_clean.head()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
0,1/1/09,XE,1204,DCA,EWR,-2.0,4.0,0
1,1/1/09,XE,1206,EWR,IAD,-1.0,-8.0,0
2,1/1/09,XE,1207,EWR,DCA,-1.0,-9.0,0
3,1/1/09,XE,1208,DCA,EWR,9.0,-12.0,0
4,1/1/09,XE,1209,IAD,EWR,-10.0,-38.0,0

In [9]:
# filtering through the rows to get SW airlines data
sw_airlines_selection = year_2009_fileDF_clean['Airline Identifier'] =='WN'
# print(sw_airlines.head)


sw_airlines_selection_new = year_2009_fileDF_clean[sw_airlines_selection]
print (sw_airlines_selection_new.shape)


# sw_airlines_selection_new.set_index("Date of Flight")

# dropping the null values if any
sw_airlines_selection_new.dropna()

(186030, 8)

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
5281,1/1/09,WN,669,ABQ,AMA,-5.0,-7.0,0
5282,1/1/09,WN,3173,ABQ,BWI,0.0,-5.0,0
5283,1/1/09,WN,45,ABQ,DAL,74.0,68.0,0
5284,1/1/09,WN,102,ABQ,DAL,1.0,3.0,0
5286,1/1/09,WN,324,ABQ,DAL,2.0,-3.0,0
...,...,...,...,...,...,...,...,...
1048570,3/2/09,WN,1628,DAL,HOU,-2.0,-8.0,0
1048571,3/2/09,WN,44,DAL,LBB,1.0,-9.0,0
1048572,3/2/09,WN,643,DAL,LBB,8.0,-7.0,0
1048573,3/2/09,WN,1217,DAL,LBB,-5.0,-14.0,0
1048574,3/2/09,WN,1608,DAL,LBB,1.0,-10.0,0

In [10]:
# filtering through the rows to get Delta airlines data only
Delta_airlines_selection = year_2009_fileDF_clean['Airline Identifier'] =='DL'
# print(Delta_airlines_selection.head)


Delta_airlines_selection_new = year_2009_fileDF_clean[Delta_airlines_selection]
print (Delta_airlines_selection_new.shape)

#dropping null values
Delta_airlines_selection_new.dropna()
Delta_airlines_selection_new.set_index('Date of Flight', inplace= False)
Delta_airlines_selection_new.dropna()

(69841, 8)

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
15209,1/1/09,DL,1,MCO,JFK,77.0,58.0,0
15210,1/1/09,DL,3,SLC,JFK,8.0,2.0,0
15211,1/1/09,DL,4,JFK,MCO,93.0,92.0,0
15212,1/1/09,DL,8,IAH,ATL,277.0,264.0,0
15213,1/1/09,DL,9,ATL,JAX,0.0,-6.0,0
...,...,...,...,...,...,...,...,...
1025776,3/1/09,DL,2092,LAX,ATL,2.0,2.0,0
1025777,3/1/09,DL,2092,ATL,MCO,165.0,159.0,0
1025780,3/1/09,DL,2094,LAX,ATL,1.0,4.0,0
1025781,3/1/09,DL,2096,LAX,ATL,-2.0,-3.0,0
1025782,3/1/09,DL,2097,ATL,LAX,22.0,0.0,0

In [11]:
# concatinating the two DFs (SW and DL) 
# using append


joint_file = sw_airlines_selection_new.append(Delta_airlines_selection_new, 
                                              ignore_index=False,sort=False)
a = joint_file.dropna()
a.head()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
5281,1/1/09,WN,669,ABQ,AMA,-5.0,-7.0,0
5282,1/1/09,WN,3173,ABQ,BWI,0.0,-5.0,0
5283,1/1/09,WN,45,ABQ,DAL,74.0,68.0,0
5284,1/1/09,WN,102,ABQ,DAL,1.0,3.0,0
5286,1/1/09,WN,324,ABQ,DAL,2.0,-3.0,0

In [12]:
a.reset_index(drop=True, inplace=True)
a.head()
# dataframe to csv
a.to_csv("2009_airlines_file.csv", index =False)