LOADING OF DATA

In [1]:
# dependancies
import pandas as pd
import numpy as np

In [2]:
# file to load
"Resources/ufoSightings.csv"
year_2018_file = "../Data/2018.csv"

# Read Purchasing File and store into Pandas data frame
year_2018_fileDF = pd.read_csv(year_2018_file)

year_2018_fileDF

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED
0,1/1/18,UA,2429,EWR,DEN,-5.0,-23.0,0
1,1/1/18,UA,2427,LAS,SFO,-8.0,-24.0,0
2,1/1/18,UA,2426,SNA,DEN,-5.0,-13.0,0
3,1/1/18,UA,2425,RSW,ORD,6.0,-2.0,0
4,1/1/18,UA,2424,ORD,ALB,20.0,14.0,0
...,...,...,...,...,...,...,...,...
1048570,2/26/18,DL,2393,ATL,FLL,-3.0,-14.0,0
1048571,2/26/18,DL,2393,FLL,ATL,-8.0,-19.0,0
1048572,2/26/18,DL,2394,ATL,PHL,8.0,-3.0,0
1048573,2/26/18,DL,2395,PBI,LGA,-6.0,-31.0,0
1048574,2/26/18,DL,2396,ATL,RSW,-3.0,-10.0,0

    DATA CLEANUP

In [3]:
# list the columns
year_2018_fileDF.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'DEP_DELAY', 'ARR_DELAY', 'CANCELLED'],
      dtype='object')

In [4]:
# picking only the needed columns
year_2018_fileDF_clean = year_2018_fileDF[['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN','DEST',
      'DEP_DELAY','ARR_DELAY','CANCELLED']]


# Renaming the selected columns

year_2018_fileDF_clean.columns = ['Date of Flight', 'Airline Identifier', 'Flight No.','Origin',
                                  'Destination','DEP_DELAY','ARR_DELAY','CANCELLED'] 
year_2018_fileDF_clean.head()
# print (year_2018_fileDF_clean.shape)

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
0,1/1/18,UA,2429,EWR,DEN,-5.0,-23.0,0
1,1/1/18,UA,2427,LAS,SFO,-8.0,-24.0,0
2,1/1/18,UA,2426,SNA,DEN,-5.0,-13.0,0
3,1/1/18,UA,2425,RSW,ORD,6.0,-2.0,0
4,1/1/18,UA,2424,ORD,ALB,20.0,14.0,0

In [5]:

# filtering through the rows to get SW airlines data
sw_airlines_selection = year_2018_fileDF_clean['Airline Identifier'] =='WN'
# print(sw_airlines.head


sw_airlines_selection_new = year_2018_fileDF_clean[sw_airlines_selection]
# print (sw_airlines_selection_new)

# dropping the null values if any

sw_airlines_selection_new.dropna()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
8538,1/1/18,WN,1491,ABQ,BWI,7.0,-13.0,0
8539,1/1/18,WN,39,ABQ,DAL,-3.0,-17.0,0
8540,1/1/18,WN,313,ABQ,DAL,-1.0,-14.0,0
8541,1/1/18,WN,395,ABQ,DAL,0.0,0.0,0
8542,1/1/18,WN,1220,ABQ,DAL,-7.0,-17.0,0
...,...,...,...,...,...,...,...,...
1041838,2/26/18,WN,1731,BNA,LGA,-3.0,-15.0,0
1041839,2/26/18,WN,2028,BNA,LGA,-3.0,-31.0,0
1041840,2/26/18,WN,611,BNA,MCI,-1.0,-4.0,0
1041841,2/26/18,WN,672,BNA,MCI,12.0,7.0,0
1041842,2/26/18,WN,2052,BNA,MCI,-3.0,-7.0,0

In [6]:
# filtering through the rows to get Delta airlines data only
Delta_airlines_selection = year_2018_fileDF_clean['Airline Identifier'] =='DL'
# print(Delta_airlines_selection.head)


Delta_airlines_selection_new = year_2018_fileDF_clean[Delta_airlines_selection]
# print (Delta_airlines_selection_new)

Delta_airlines_selection_new.dropna()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
16112,1/1/18,DL,2,JFK,TPA,-4.0,-27.0,0
16113,1/1/18,DL,4,SLC,JFK,0.0,-14.0,0
16114,1/1/18,DL,6,LAX,SLC,-2.0,-6.0,0
16115,1/1/18,DL,7,SLC,LAX,-3.0,-14.0,0
16116,1/1/18,DL,11,MSP,MCI,34.0,11.0,0
...,...,...,...,...,...,...,...,...
1048570,2/26/18,DL,2393,ATL,FLL,-3.0,-14.0,0
1048571,2/26/18,DL,2393,FLL,ATL,-8.0,-19.0,0
1048572,2/26/18,DL,2394,ATL,PHL,8.0,-3.0,0
1048573,2/26/18,DL,2395,PBI,LGA,-6.0,-31.0,0
1048574,2/26/18,DL,2396,ATL,RSW,-3.0,-10.0,0

In [7]:
# concatinating the two DFs (SW and DL) 
# using append

joint_file = sw_airlines_selection_new.append(Delta_airlines_selection_new)
a= joint_file.dropna()
a.reset_index(drop=True, inplace=True)
a.head()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
0,1/1/18,WN,1491,ABQ,BWI,7.0,-13.0,0
1,1/1/18,WN,39,ABQ,DAL,-3.0,-17.0,0
2,1/1/18,WN,313,ABQ,DAL,-1.0,-14.0,0
3,1/1/18,WN,395,ABQ,DAL,0.0,0.0,0
4,1/1/18,WN,1220,ABQ,DAL,-7.0,-17.0,0

In [8]:
# dataframe to csv
a.to_csv("2018_airlines_file.csv", index= False)