In [1]:
import pandas as pd

In [2]:
path1 = '2009_airlines_file.csv'
a = pd.read_csv(path1)
a.head()

,Date of Flight,Airline Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,CANCELLED
0,1/1/09,WN,669,ABQ,AMA,-5.0,-7.0,0
1,1/1/09,WN,3173,ABQ,BWI,0.0,-5.0,0
2,1/1/09,WN,45,ABQ,DAL,74.0,68.0,0
3,1/1/09,WN,102,ABQ,DAL,1.0,3.0,0
4,1/1/09,WN,324,ABQ,DAL,2.0,-3.0,0