In [19]:
import plotly.express as px
import pandas as pd
import datetime as dt

In [20]:
data2009 = pd.read_csv("Cleaned_Airlines_Data/2009_airlines_max_ARR_Delay.csv")
data2018 = pd.read_csv("Cleaned_Airlines_Data/2018_airlines_max_ARR_Delay.csv")

In [21]:
data2009 = data2009.rename(columns={"Airline Identifier": "Airline_Identifier"})
data2018 = data2018.rename(columns={"Airline Identifier": "Airline_Identifier"})

In [22]:
data2009

,Date of Flight,Airline_Identifier,Flight No.,Origin,Destination,DEP_DELAY,ARR_DELAY,Date of Flight_month,Date of Flight_weekday
0,2009-01-01,WN,45,ABQ,DAL,1.233333,1.133333,1,Thursday
1,2009-01-01,WN,3190,ABQ,LAX,1.500000,1.250000,1,Thursday
2,2009-01-01,WN,413,ABQ,MAF,1.350000,1.283333,1,Thursday
3,2009-01-01,WN,109,BHM,BNA,1.116667,1.033333,1,Thursday
4,2009-01-01,WN,109,BNA,OAK,1.133333,1.433333,1,Thursday
...,...,...,...,...,...,...,...,...,...
58465,2009-12-31,DL,1885,BWI,ATL,0.933333,1.066667,12,Thursday
58466,2009-12-31,DL,1990,MIA,ATL,2.050000,2.016667,12,Thursday
58467,2009-12-31,DL,2008,ATL,EWR,1.933333,1.816667,12,Thursday
58468,2009-12-31,DL,2015,EWR,ATL,1.933333,1.800000,12,Thursday
58469,2009-12-31,DL,2082,JFK,BOS,1.600000,1.083333,12,Thursday

In [23]:
data2009.columns = ['Date_of_Flight', 'Airline_Identifier', 'Flight_No.','Origin',
                                  'Destination','DEP_DELAY','ARR_DELAY','Month_of_Flight','Day_of_Flight']

In [24]:
data2009.head()

,Date_of_Flight,Airline_Identifier,Flight_No.,Origin,Destination,DEP_DELAY,ARR_DELAY,Month_of_Flight,Day_of_Flight
0,2009-01-01,WN,45,ABQ,DAL,1.233333,1.133333,1,Thursday
1,2009-01-01,WN,3190,ABQ,LAX,1.500000,1.250000,1,Thursday
2,2009-01-01,WN,413,ABQ,MAF,1.350000,1.283333,1,Thursday
3,2009-01-01,WN,109,BHM,BNA,1.116667,1.033333,1,Thursday
4,2009-01-01,WN,109,BNA,OAK,1.133333,1.433333,1,Thursday

In [25]:
data2018.columns = ['Date_of_Flight', 'Airline_Identifier', 'Flight_No.','Origin',
                                  'Destination','DEP_DELAY','ARR_DELAY','Month_of_Flight','Day_of_Flight']

In [42]:
data2009['Date_of_Flight']=pd.to_datetime(data2009['Date_of_Flight'])

data2018['Date_of_Flight']=pd.to_datetime(data2018['Date_of_Flight'])

In [43]:
data2009['Date_of_Flight'] = data2009['Date_of_Flight'].dt.strftime('%m/%d/%Y')
data2018['Date_of_Flight'] = data2018['Date_of_Flight'].dt.strftime('%m/%d/%Y')

In [68]:
mergedDf = data2009.append(data2018)
# mergedDf.groupby(mergedDf.index)

In [69]:
# mergedDf = data2009.append(data2018).set_index('Date_of_Flight')

mergedDf.to_json('records.json', orient='records')
mergedDf.to_json('columns.json',orient = 'table')

In [65]:
data_WM_2009 = len(data2009[data2009.Airline_Identifier == 'WN'])
data_DL_2009 = len(data2009[data2009.Airline_Identifier == 'DL'])
data_WM_2018 = len(data2018[data2018.Airline_Identifier == 'WN'])
data_DL_2018 = len(data2018[data2018.Airline_Identifier == 'DL'])

In [ ]:
h2009 = [data_WM_2009,data_DL_2009,data_WM_2018,data_DL_2018]
year = ['2009','2009','2018','2018']
air= ['WN','DL','WN','DL']
hdf09=pd.DataFrame(h2009,air)
hdf09=hdf09.reset_index()
hdf18=pd.DataFrame(year,air)
hdf18=hdf18.reset_index()

In [ ]:
hdf09=hdf09.rename(columns = {'index':'airline', 0:'count'})
hdf18=hdf18.rename(columns = {'index':'airline', 0:'year'})

In [ ]:
hdf = pd.merge(hdf09,hdf18,on = 'airline')
hdf = pd.DataFrame([hdf.iloc[0],hdf.iloc[3],hdf.iloc[4],hdf.iloc[7]])

In [ ]:
hdf

In [ ]:
fig = px.bar(hdf, x='airline', y='count',color='year', barmode='group')
fig.show()